h1{
    color: royalblue;
}
h1:hover{
    color: skyblue;
    background-color: green;
    font-weight: 700;
    font-size: 20px;
    margin: 50px;
    padding: 50px;

}
.middle-persion:focus{
    color: blue;
    font-weight: 700;
}
a:visited{
    color: red;
}
li:first-child{
    color: blueviolet;
}
li:last-child{
   background-color: gray;
}
li:nth-child(2n){
    color: brown;
}
li:nth-child(2n+1){
    background-color: skyblue;
}
h3::before{
    content: 'hello ';
}
h3::after{
    content: ' gelo';
}